.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80px;
  margin: auto;
  padding: 0px;
  list-style: none;
  border: 1px solid #ececec;

  &__logo.container {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}
