.mobile-menu-button {
  position: fixed;
  right: 15px;
  top: 20px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}


.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $main-white;
  z-index: 999;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
}
.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
  fill: $bodytext-color;
  &:hover,
  &:focus,
  &:active {
    fill: $selection-color;
  }
}

.mobile-menu {
  padding: 0;
  margin-top: 48px;
  margin-left: 40px;
  margin-bottom: 250px;
  list-style: none;
  & .link {
    display: block;
    margin-bottom: 32px;
    color: $bodytext-color;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 0.85;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    margin-bottom: 32px;
  }
  & .link:hover,
  & .link:focus,
  & .link:active {
    color: $selection-color;
    cursor: $cursor;
  }
}
.mobile-menu__phone,
.mobile-menu__mail {
  list-style-type: none;
  margin-bottom: 32px;
}
.mobile-menu__phone .link {
  color: $selection-color;
  font-family: Roboto;
  font-size: 34px;
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 32px;
  cursor: $cursor;
}
.mobile-menu__mail .link {
  color: $text-color;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 64px;
  cursor: $cursor;
}
.mobile-menu__social-links {
  list-style-type: none;
  display: inline-block;

  & .link {
    color: $selection-color;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 0.82;
    letter-spacing: 0.02em;
    text-align: left;
    padding-right: 10px;
    margin-right: 10px;
  }
  & .link:not(:last-child) {
    border-right: 1px solid $text-color;
  }
}
