$text-color: #757575;
$selection-color: #2196f3;
$main-white: #ffffff;
$logo-black: #000000;
$bodytext-color: #212121;
$footerbackground-color: #2f303a;
$teamsectionbackgroundn-color: #f5f4fa;
$svg-icons-color: #afb1bb;
$background-footer-sl: rgba(255, 255, 255, 0.1);
$lower-caption-color: rgba(117, 117, 117, 1);
$projects-section-overlay-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$cursor: pointer;
$delay: 250ms;
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// modal
$modal-input-width: 448px;
$modal-border-radius: 4px;
// modal icons
$icon-width: 18px;
$icon-height: 18px;
$modal-border: 1px solid rgba(33, 33, 33, 0.2);

// mobile
$mobile-window-width: 450px;
$mobile-window-height: 609px;
$mobile-modal-input-width: 370px;
// mixin
@mixin mobile-modal-window-and-input(
  $mobile-window-width,
  $mobile-window-height,
  $modal-input-width-mobile
) {
  .modal {
    width: $mobile-window-width;
    height: $mobile-window-height;
    &__form-title {
      width: $modal-input-width-mobile;
      height: 60px;
    }
    &__form-position {
      width: $modal-input-width-mobile;
    }
    &__input-textarea {
      width: $modal-input-width-mobile;
    }
    &__form-name,
    &__form-phone,
    &__form-email {
      width: $modal-input-width-mobile;
    }
  }
  .order-form {
    &__input {
      width: $modal-input-width-mobile;
    }
    &__input-textarea {
      width: $modal-input-width-mobile;
    }
  }
}
