$text-color: #757575;
$selection-color: #2196f3;
$main-white: #ffffff;
$logo-black: #000000;
$bodytext-color: #212121;
$footerbackground-color: #2f303a;
$teamsectionbackgroundn-color: #f5f4fa;
$svg-icons-color: #afb1bb;
$background-footer-sl: rgba(255, 255, 255, 0.1);
$lower-caption-color: rgba(117, 117, 117, 1);
$projects-section-overlay-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$cursor: pointer;
$delay: 250ms;
// modal
$modal-input-width: 448px;
$modal-border-radius: 4px;
// modal icons
$icon-width: 18px;
$icon-height: 18px;
$modal-border: 1px solid rgba(33, 33, 33, 0.2);

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);


